.header_container{
    height: 11vh;
    background: #445;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}


.logo{
    width: 13%;
    height: 99%;
    background-image: url('./images/Yashirlogo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size:60%;
    cursor: pointer;
    margin-left: -8px;
}
/* .logo a {
    text-decoration: none;
} */
.links_container{
    display: flex;
    width: 50%;

}
.links{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.links a {
    text-decoration: none;
}
.links li{
    list-style: none;
    cursor: pointer;
}



.rightsideheader{
    width: 15vw;
    display: flex;
    background: #000;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}
.account{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
}

.auth{
    width: 20vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
   

    height: 80%;
    width: 40%;
    background:lightblue;
    border: 1px solid red;
    height: 50%;
    border-radius: 2px;
}
.login a{
    text-decoration: none;
}
.logout{
    text-align: center;
    height: 80%;
    width: 40%;
    background:lightblue;
    border: 1px solid red;
    height: 50%;
    border-radius: 2px;
    margin-left: 5px;
}
.logout a {
    text-decoration: none;
}