.section_container{
    height: 89vh;
    background: rgb(213, 217, 241);
    background-image: url(https://media.istockphoto.com/photos/modern-mid-century-and-vintage-interior-of-living-room-blue-lounge-picture-id924701294?s=612x612);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y:-300px ;

}
.section{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #445;
}
.join{
    height: 2.5rem;
    width: 25rem;
    font-size: 1.3rem;
    background: red;
    border: 1px solid red;
    border-radius: 2px;
    cursor: pointer;
}
.user_story{
    height: 29.5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    color: #fff;

}
.msg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 20%;
    border-radius: 100px;
    background: rgba(153, 173, 167, 0.39);

}